@charset "UTF-8";
body {
	font-family: Times, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.6em;
	color: #FfFFFF;
	background-color: #00008B;
	padding: 0 40px;
}
p {
	letter-spacing: 0.2em;
	color: #3A3A3A;
}
li, td, tr, table {
	color: 	rgb(0,0,139);
}

h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .3em;
	line-height: 2em;
	background-color: #3A3A3A;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: normal;
	letter-spacing: 0.2em;
	background-color: #3A3A3A;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}
#sidebar {
	width:278px;
	float: right;
	margin-top: 0px;
	margin-right: 20px;
	background: #42f4e5;
	border: 1px solid #3A3A3A;
	border-radius: 12px;
	box-shadow: 5px 5px 2px #888888;
}
#container {
	width: 900px;
	margin: 0 auto;
	background-color: #42f4e5;
	overflow: hidden;
	padding: 10px;
}
div {
	display: block;
	
}
html {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#adam{
	width:100%;
	height:auto;
}
img {
	overflow: hidden;
}
#content {
	background-color: #42f4e5;
}